@charset "utf-8";
/* CSS Document */



.stylish-select ul.newList {left:-9999px;}

#select-company .newListSelected {
	background:#FFF url(../images/icons/dropdown.gif) no-repeat scroll top right; 
	color:#939598; 
	height:20px; 
	margin:0; 
	padding:0; 
	width:160px;
	padding-top:3px; 
	float:right; 
	margin-right:10px;
	z-index:1000;
}
#select-company .newListSelected div {
	display:block; 
	text-transform: uppercase; 
	font-size:11px; 
	padding:2px 0 2px 4px; 
	text-align:left !important; 
	width:174px;	

}
#select-company ul.newList {
	list-style:none; 
	color:#000; 
	width:160px; 
	background:#e8e3d7;  
	top:22px; 
	left:0; 
	height:auto; 
	overflow:auto; 
	font-size: 11px; 
	text-align:left!important; 
	position:absolute; 
	z-index:9999;
}
#select-company ul.newList li {
	padding:2px!important;
	margin: 0;
}
#select-company ul.newList li a {
	text-transform: uppercase;
	display: block;
	padding: 2px 5px;
	text-decoration: none;
}
#select-company .hiLite {
	background:#fff!important; 
	color:#939598!important;
}
#select-company .newListHover {
	background:#fff!important; 
	color:#939598!important; 
	cursor:default;
}
#select-company .newListSelHover {
	cursor:default;
	background-color: #fff;
}
#select-company .newListSelHover, 
#select-company .newListSelFocus {
	background-position:auto;
}
#select-company .newListSelHover div, 
#select-company .newListSelFocus div {
	font-weight:normal;
}